<p>
  about works!
</p>
<!--Intro -->
<!-- <div id="intro" class="section scrollspy">
    <div class="container">
        <div class="row">
            <div  class="col s12">
                <h2 class="center header text_h2"> I'm Dom.<br />I build <span class="span_h2">systems</span> from square one.<br />
            </div>

            <div  class="col s12 m4 l4">
                <div class="center promo promo-example">
                    <i class="mdi-communication-business"></i>
                    <h5 class="promo-caption">Leadership</h5>
                    <p class="light center">Based out of Metro Detroit, strong commitment to team environment dynamics with the ability to contribute expertise and give leadership directives.</p>
                </div>
            </div>
            <div class="col s12 m4 l4">
                <div class="center promo promo-example">
				    <i class="mdi-hardware-desktop-windows"></i>
                    <h5 class="promo-caption">Full Lifecycle Software Engineering</h5>
                    <p class="light center">From planning to design to implementation to maintenance, proficient at building entire systems from square one, using test-driven development.</p>
                
                </div>
            </div>
            <div class="col s12 m4 l4">
                <div class="center promo promo-example">
					<i class="mdi-social-group"></i>
                    <h5 class="promo-caption">Support System</h5>
                    <p class="light center">With expertise of large-scale information system development (big data), focus on mobility and scalability, and emphasis on testing, always undertaking leadership in the industry.</p>
                </div>
            </div>
        </div>
    </div>
</div> -->
