html,
body {
  margin: 0;
}

.video-bg {
  position: fixed;
  top: 0;
  z-index: -1;
}

#profile-image {
  background: #fff;
  width: 360px;
  height: 360px;
  object-fit: contain;
  border-radius: 50%;
  margin: 1rem 0;
}

#name {
  padding: 0 5px;
}

.floating-intro {
  color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.intro-message {
  max-width: 45vw;
}
