<p>
  projects works!
</p>

<!--Work-->
<div class="section scrollspy" id="work">
    <div class="container">
        <h2 class="header text_b">Projects</h2>
        <div class="row">
            <div class="col-sm-4">
                <div class="card">
                    <span class="card-title activator grey-text text-darken-4">MC&C Services LLC | Company Site<i class="mdi-navigation-more-vert right"></i></span>
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="https://storage.googleapis.com/material-design/publish/material_v_11/assets/0B_udO5B8pzrzSG9CdkJzMEJCODQ/components_cards6.png">
                    </div>
                    <div class="card-content">
                        
                        <p><a href="http://mccserv.net/" target="_blank">mccserv.net | Plumbing & Mechanical Contractors</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">mccserv.net<i class="mdi-navigation-close right"></i></span>
                        <p>
                            This corporate site was built using the popular Content Management System (CMS) Wordpress 4.8.1, and a MySQL 5.6.32 database. The site utilizes 
                            HTML5, CSS3, JavaScript ES5, and PHP5.6. Most of the content was uploaded using Filezilla SFTP client to the Apache Linux webserver. 
                            Now one of the issues building this company site was related to the fact that it was on a shared host. In order to optimize the load times
                            went ahead and set up Amazon Cloudfront CDN to host all of the static content and take some load off the server. The site is also being cached
                            using WPFC. Small edits to the photos done in Adobe Lightroom, Photoshop, and Gimp. 
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <span class="card-title activator grey-text text-darken-4">MC&C Services LLC | Company Site<i class="mdi-navigation-more-vert right"></i></span>
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="https://storage.googleapis.com/material-design/publish/material_v_11/assets/0B_udO5B8pzrzSG9CdkJzMEJCODQ/components_cards6.png">
                    </div>
                    <div class="card-content">
                        
                        <p><a href="http://www.saveaseat.co/" target="_blank">Project Man | Web App</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Project Man<i class="mdi-navigation-close right"></i></span>
                        <p>
                            Project Man was designed to solve a simple problem at my old company. The company has been using excel to log
                            and keep track of projects. While Excel can be an extremely powerful tool, it is not designed to be collaborative.
                            You can share files, and you can have multiple people editing at once but there is barely any accountability, and it 
                            is difficult to keep track of all of the changes, and who made them. Along with that without constantly protecting
                            the workbook people collaborating can accidentally shift cells and modify the spreadsheet and in ways that can lead to
                            several issues. The web app was designed in Node.js, Express, EJS, HTML, CSS, and JavaScript. It is a simple CRUD
                            application that will let only authorized users make changes, and it will show additional informationt to administrators.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <span class="card-title activator grey-text text-darken-4">microReviews | Conceptual Site<i class="mdi-navigation-more-vert right"></i></span>
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="https://storage.googleapis.com/material-design/publish/material_v_11/assets/0B_udO5B8pzrzSG9CdkJzMEJCODQ/components_cards6.png">
                    </div>
                    <div class="card-content">
                        
                        <p><a href="http://www.saveaseat.co/" target="_blank">mccserv.net | Plumbing & Mechanical Contractors</a></p>
                    </div>
                    <div  class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Save a Seat<i class="mdi-navigation-close right"></i></span>
                        <p>Never before has a reservation system been so sophisticated, yet intuitive; Save a Seat is the most magnificent restaurant application of our time. Navigate through a first-person view and select a table of your choice at our participating locations. Discover the luxury of customizing your experience with one simple click.</p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>

<!--Parallax-->
<!--
<div class="parallax-container">
    <div class="parallax"><img src="img/parallax1.png"></div>
</div>-->