<!--The content below is only a placeholder and can be replaced.-->
    <header class="container-fluid">
    <!--Navigation-->
        <nav class="navbar-fixed-top navbar-dark bg-inverse">
            <div class="">
                    <ul class="navbar">
                        <div class="dropdown" dropdown>
                            <li class="flex-left"><a [routerLink]="['/']" class="navbar-brand" dropdown-open>{{name}}</a></li>
                                <li class="header-icon flex-right"><a href="mailto:sherwination&#64;gmail.com"><i class="fa fa-envelope"></i></a></li>
                                <li class="header-icon flex-right"><a href="https://github.com/sherwino" target="_blank"><i class="fa fa-github"></i></a></li>
                                <li class="header-icon flex-right"><a href="https://fb.me/sherwination" target="blank"><i class="fa fa-facebook"></i></a></li>
                                <li class="header-icon flex-right"><a href="https://twitter.com/sherwination" target="blank"><i class="fa fa-twitter"></i></a></li>    

                            
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a [routerLink]="['/about']" class="nav-link">About</a></li>
                                <li class="nav-item"><a [routerLink]="['/projects']" class="nav-link">Projects</a></li>
                                <li class="nav-item"><a [routerLink]="['/contact']" class="nav-link">Contact</a></li>
                            </ul>
                        </div>
                    </ul>
            </div>
        </nav>
    </header>
    
    <div class="spacer"></div>
    <!--App Content  -->
    <router-outlet></router-outlet>

    <div class="spacer"></div>



  <!--Footer-->
<footer id="contact" class="scrollspy">
    <div class="container">
        <div class="row">
            <div class="center">
			<!-- <h5><a class="footer-icon" href="mailto:sherwination&#64;gmail.com" target="_blank">sherwination&#64;gmail.com</a></h5> -->
			<a class="footer-icon" href="mailto:sherwination&#64;gmail.com">
				<i class="fa fa-3x fa-envelope-square"></i>
            </a>
			<a class="footer-icon" href="http://github.com/sherwino" target="_blank">
				<i class="fa fa-3x fa-github-square"></i>
            </a>
			<a class="footer-icon" href="http://fb.me/sherwination" target="_blank">
				<i class="fa fa-3x fa-facebook-square"></i>
            </a>
			<a class="footer-icon" href="http://twitter.com/sherwination" target="_blank">
				<i class="fa fa-3x fa-twitter-square"></i>
            </a>
            </div>
        </div>
    </div>
    <!-- <div class="footer-copyright default_color">
        <div class="container">
            &copy; 2017 Sherwin Garcia-Obregon
             <script type="text/javascript">document.write(new Date().getFullYear());</script> 
            
        </div>
    </div> -->
</footer>