body {
  font-family: 'Open Sans', sans-serif;
  width: 100vw;
  margin: 0;
  padding: 0;
}
.navbar {
    width: 1fr;
    margin: 0;
    padding-top: 10px;
    top: 0;
    left: 0;
}

.dropdown {
    margin: 0;

}

.dropdown-menu {
    background: rgba(0,0,0, 0.2);
    width: 90vw;
}

.navbar a {
    color: #fff;
}

.navbar a:hover {
    background: rgba(0,0,0, 0.0);
    color: rgba(0,0,0, 0.2);
}

.navbar-brand {
    font-family: 'Allura', cursive;
    font-size: 5vw;

}

.navbar li {
    display: inline-flex;
    line-height: 5vh;

}

.nav-link {
    font-size: 1.5vw;
    
}
/* 
.spacer {
    margin: 80px 0;
} */

#contact {
    width: 100vw;
    height: 60px;
    margin: 0px;
    padding: 20px 0px 50px 0px;
    bottom: 0;
    background:skyblue;
}

.footer-icon {
    display: inline-flex;
    align-content: center;
    text-align: center;
    color: white;
    margin: 0px 10px 10px 10px;

}

/* body,.toggle h3 a,body .ui-widget,table,.bar_graph li span strong,#slide-out-widget-area .tagcloud a,body .container .woocommerce-message a.button,#search-results .result .title span,.woocommerce ul.products li.product h3,.woocommerce-page ul.products li.product h3,.row .col.section-title .nectar-love span,body .nectar-love span,body .nectar-social .nectar-love .nectar-love-count,body .carousel-heading h2,.sharing-default-minimal .nectar-social .social-text,body .sharing-default-minimal .nectar-love {
 font-family:Open Sans;
 font-size:16px;
 line-height:31px;
 font-weight:400;
}
.bold,strong,b {
 font-family:Open Sans;
 font-weight:600;
}
.single #single-below-header span {
 font-family:Open Sans;
}
.nectar-fancy-ul ul li .icon-default-style[class^="icon-"] {
 line-height:31px!important;
}
header#top nav > ul > li > a {
 font-family:Open Sans;
 font-size:16px;
 line-height:22.4px;
 font-weight:400;
}
header#top nav > ul > li.button_solid_color > a:before,#header-outer.transparent header#top nav > ul > li.button_solid_color > a:before {
 height:27.4px;
}
header#top nav > ul > li.button_bordered > a:before,#header-outer.transparent header#top nav > ul > li.button_bordered > a:before {
 height:37.4px;
}
header#top .sf-menu li ul li a,#header-secondary-outer nav > ul > li > a,#header-secondary-outer ul ul li a,#header-outer .widget_shopping_cart .cart_list a {
}
@media only screen and (min-width :1px) and (max-width :1000px) {
 header#top .sf-menu a {
  font-family:-!important;
  font-size:14px!important;
 }
}
#page-header-bg h1,body h1,body .row .col.section-title h1,.full-width-content .recent-post-container .inner-wrap h2 {
 font-family:Open Sans;
 font-size:80px;
 line-height:80px;
 font-weight:700;
}
@media only screen and (max-width:1300px) and (min-width:1000px) {
 body .row .col.section-title h1,body h1,.full-width-content .recent-post-container .inner-wrap h2 {
  font-size:56px;
  line-height:56px;
 }
}
@media only screen and (max-width:1000px) and (min-width:690px) {
 body .row .col.section-title h1,body h1 {
  font-size:52px;
  line-height:52px;
 }
 .full-width-content .recent-post-container .inner-wrap h2 {
  font-size:48px;
  line-height:48px;
 }
}
@media only screen and (max-width:690px) {
 body .row .col.section-title h1,body h1 {
  font-size:48px;
  line-height:48px;
 }
 .full-width-content .recent-post-container .inner-wrap h2 {
  font-size:36px;
  line-height:36px;
 }
}
#page-header-bg h2,body h2,article.post .post-header h2,article.post.quote .post-content h2,article.post.link .post-content h2,article.post.format-status .post-content h2,#call-to-action span,.woocommerce .full-width-tabs #reviews h3,.row .col.section-title h2 {
 font-family:Open Sans;
 font-size:42px;
 line-height:48px;
}
@media only screen and (max-width:1300px) and (min-width:1000px) {
 body h2 {
  font-size:35.7px;
  line-height:40.8px;
 }
 .row .span_2 h2,.row .span_3 h2,.row .span_4 h2,.row .vc_col-sm-2 h2,.row .vc_col-sm-3 h2,.row .vc_col-sm-4 h2 {
  font-size:29.4px;
  line-height:33.6px;
 }
}
@media only screen and (max-width:690px) {
 .col h2 {
  font-size:35.7px;
  line-height:40.8px;
 }
}
body h3,.row .col h3,.toggle h3 a,.ascend #respond h3,.ascend h3#comments,.woocommerce ul.products li.product.text_on_hover h3,.masonry.classic_enhanced .masonry-blog-item h3.title,.woocommerce ul.products li.product.material h3,.woocommerce-page ul.products li.product.material h3,.portfolio-items[data-ps="8"] .col h3,.nectar-hor-list-item[data-font-family="h3"] {
 font-family:Hind;
 font-size:32px;
 line-height:32px;
 font-weight:700;
}
@media only screen and (min-width:1000px) {
 .ascend .comments-section .comment-wrap.full-width-section > h3,.blog_next_prev_buttons[data-post-header-style="default_minimal"] .col h3 {
  font-size:54.4px!important;
  line-height:62.4px!important;
 }
 .masonry.classic_enhanced .masonry-blog-item.large_featured h3.title {
  font-size:48px!important;
  line-height:48px!important;
 }
}
@media only screen and (min-width:1300px) and (max-width:1500px) {
 body .portfolio-items.constrain-max-cols.masonry-items .col.elastic-portfolio-item h3 {
  font-size:27.2px!important;
  line-height:27.2px;
 }
}
@media only screen and (max-width:1300px) and (min-width:1000px),(max-width:690px) {
 .row .span_2 h3,.row .span_3 h3,.row .span_4 h3,.row .vc_col-sm-2 h3,.row .vc_col-sm-3 h3,.row .vc_col-sm-4 h3 {
  font-size:22.4px;
  line-height:22.4px;
 }
}
body h4,.row .col h4,.portfolio-items .work-meta h4,.list-icon-holder[data-icon_type="numerical"] span,.portfolio-items .col.span_3 .work-meta h4,#respond h3,h3#comments,.portfolio-items[data-ps="6"] .work-meta h4,.nectar-hor-list-item[data-font-family="h4"] {
 font-family:Hind;
 font-size:30px;
 line-height:40px;
 font-weight:700;
}
@media only screen and (min-width:690px) {
 .portfolio-items[data-ps="6"] .wide_tall .work-meta h4 {
  font-size:51px!important;
  line-height:59px!important;
 }
 .nectar-slide-in-cart .widget_shopping_cart .cart_list .mini_cart_item > a:not(.remove) {
  font-family:Hind!important;
  font-weight:700!important;
 }
}
body h5,.row .col h5,.portfolio-items .work-item.style-3-alt p,.nectar-hor-list-item[data-font-family="h5"] {
 font-family:Varela Round;
 text-transform:none;
 font-size:20px;
 line-height:32px;
 font-weight:400;
}
body .wpb_column > .wpb_wrapper > .morphing-outline .inner > h5 {
 font-size:27px!important;
}
@media only screen and (min-width:1000px) and (max-width:1300px) {
 .col.vc_span3 h5,.col.vc_span4 h5,.col.vc_col-sm-3 h5,.col.vc_col-sm-4 h5 {
  font-size:16px!important;
 }
}
body h6,.row .col h6,.nectar-hor-list-item[data-font-family="h6"] {
 font-family:Montserrat;
 text-transform:uppercase;
 letter-spacing:1px;
 font-size:12px;
 line-height:20px;
 font-weight:700;
}
body i,body em,.masonry.meta_overlaid article.post .post-header .meta-author > span,#post-area.masonry.meta_overlaid article.post .post-meta .date,#post-area.masonry.meta_overlaid article.post.quote .quote-inner .author,#post-area.masonry.meta_overlaid article.post.link .post-content .destination,body .testimonial_slider[data-style="minimal"] blockquote span.title {
 font-family:Playfair Display;
 font-size:15px;
 line-height:15px;
 font-weight:400;
}
form label,.woocommerce-checkout-review-order-table .product-info .amount,.woocommerce-checkout-review-order-table .product-info .product-quantity,.nectar-progress-bar p,.nectar-progress-bar span strong i,.nectar-progress-bar span strong,.testimonial_slider:not([data-style="minimal"]) blockquote span,.woocommerce-ordering .select2-container .select2-choice>.select2-chosen,.tabbed[data-style="minimal_alt"] > ul li a {
 font-family:Varela Round;
 font-weight:400!important;
}
.portfolio-filters-inline .container > ul a,.portfolio-filters > ul a,.portfolio-filters > a span {
}
.portfolio-items .col p,.container-wrap[data-nav-pos="after_project_2"] .bottom_controls li span:not(.text) {
}
.nectar-dropcap {
 font-family:Playfair Display;
 font-size:64px!important;
 line-height:48px;
 font-weight:400!important;
}
body #page-header-bg h1,html body .row .col.section-title h1,.nectar-box-roll .overlaid-content h1 {
 font-family:Hind;
 text-transform:capitalize;
 letter-spacing:-2px;
 font-size:80px;
 line-height:80px;
 font-weight:700;
}
@media only screen and (min-width:690px) and (max-width:1000px) {
 #page-header-bg .span_6 h1,.overlaid-content h1 {
  font-size:56px!important;
  line-height:60px!important;
 }
}
@media only screen and (min-width:1000px) and (max-width:1300px) {
 #page-header-bg .span_6 h1,.nectar-box-roll .overlaid-content h1 {
  font-size:68px;
  line-height:68px;
 }
}
@media only screen and (min-width:1300px) and (max-width:1500px) {
 #page-header-bg .span_6 h1,.nectar-box-roll .overlaid-content h1 {
  font-size:72px;
  line-height:72px;
 }
}
@media only screen and (max-width:690px) {
 #page-header-bg.fullscreen-header .span_6 h1,.overlaid-content h1 {
  font-size:36px!important;
  line-height:36px!important;
 }
}
body #page-header-bg .span_6 span.subheader,body .row .col.section-title > span,.nectar-box-roll .overlaid-content .subheader {
 font-family:Montserrat;
 text-transform:uppercase;
 letter-spacing:9px;
 font-size:16px;
 line-height:30px;
 font-weight:700;
}
@media only screen and (min-width:1000px) and (max-width:1300px) {
 body #page-header-bg:not(.fullscreen-header) .span_6 span.subheader,body .row .col.section-title > span {
  font-size:12.8px;
  line-height:24px;
 }
}
@media only screen and (min-width:690px) and (max-width:1000px) {
 body #page-header-bg.fullscreen-header .span_6 span.subheader,.overlaid-content .subheader {
  font-size:14.4px!important;
  line-height:27px!important;
 }
}
@media only screen and (max-width:690px) {
 body #page-header-bg.fullscreen-header .span_6 span.subheader,.overlaid-content .subheader {
  font-size:11.2px!important;
  line-height:21px!important;
 }
 #page-header-bg .span_6 span.subheader {
  font-size:15px!important;
 }
}
body #slide-out-widget-area .inner .off-canvas-menu-container li a,body #slide-out-widget-area.fullscreen .inner .off-canvas-menu-container li a,body #slide-out-widget-area.fullscreen-alt .inner .off-canvas-menu-container li a,body #slide-out-widget-area.slide-out-from-right-hover .inner .off-canvas-menu-container li a,body #nectar-ocm-ht-line-check {
}
@media only screen and (min-width:690px) and (max-width:1000px) {
 body #slide-out-widget-area.fullscreen .inner .off-canvas-menu-container li a,body #slide-out-widget-area.fullscreen-alt .inner .off-canvas-menu-container li a {
  font-size:;
  line-height:;
 }
}
@media only screen and (max-width:690px) {
 body #slide-out-widget-area.fullscreen .inner .off-canvas-menu-container li a,body #slide-out-widget-area.fullscreen-alt .inner .off-canvas-menu-container li a {
  font-size:;
  line-height:;
 }
}
#slide-out-widget-area .menuwrapper li small {
}
@media only screen and (min-width:690px) and (max-width:1000px) {
 #slide-out-widget-area .menuwrapper li small {
  font-size:;
  line-height:;
 }
}
@media only screen and (max-width:690px) {
 #slide-out-widget-area .menuwrapper li small {
  font-size:;
  line-height:;
 }
}
.swiper-slide .content h2 {
}
@media only screen and (min-width:1000px) and (max-width:1300px) {
 body .nectar-slider-wrap[data-full-width="true"] .swiper-slide .content h2,body .nectar-slider-wrap[data-full-width="boxed-full-width"] .swiper-slide .content h2,body .full-width-content .vc_span12 .swiper-slide .content h2 {
  font-size:;
  line-height:;
 }
}
@media only screen and (min-width:690px) and (max-width:1000px) {
 body .nectar-slider-wrap[data-full-width="true"] .swiper-slide .content h2,body .nectar-slider-wrap[data-full-width="boxed-full-width"] .swiper-slide .content h2,body .full-width-content .vc_span12 .swiper-slide .content h2 {
  font-size:;
  line-height:;
 }
}
@media only screen and (max-width:690px) {
 body .nectar-slider-wrap[data-full-width="true"] .swiper-slide .content h2,body .nectar-slider-wrap[data-full-width="boxed-full-width"] .swiper-slide .content h2,body .full-width-content .vc_span12 .swiper-slide .content h2 {
  font-size:;
  line-height:;
 }
}
#featured article .post-title h2 span,.swiper-slide .content p,#portfolio-filters-inline #current-category,body .vc_text_separator div {
}
#portfolio-filters-inline ul {
 line-height:;
}
.swiper-slide .content p.transparent-bg span {
}
@media only screen and (min-width:1000px) and (max-width:1300px) {
 .nectar-slider-wrap[data-full-width="true"] .swiper-slide .content p,.nectar-slider-wrap[data-full-width="boxed-full-width"] .swiper-slide .content p,.full-width-content .vc_span12 .swiper-slide .content p {
  font-size:;
  line-height:;
 }
}
@media only screen and (min-width:690px) and (max-width:1000px) {
 .nectar-slider-wrap[data-full-width="true"] .swiper-slide .content p,.nectar-slider-wrap[data-full-width="boxed-full-width"] .swiper-slide .content p,.full-width-content .vc_span12 .swiper-slide .content p {
  font-size:;
  line-height:;
 }
}
@media only screen and (max-width:690px) {
 body .nectar-slider-wrap[data-full-width="true"] .swiper-slide .content p,body .nectar-slider-wrap[data-full-width="boxed-full-width"] .swiper-slide .content p,body .full-width-content .vc_span12 .swiper-slide .content p {
  font-size:;
  line-height:;
 }
}
.testimonial_slider blockquote,.testimonial_slider blockquote span,.testimonial_slider[data-style="minimal"] blockquote span:not(.title),.testimonial_slider[data-style="minimal"] blockquote,blockquote,.testimonial_slider[data-style="minimal"] .controls {
 font-family:Varela Round;
 font-size:18px;
 line-height:33px;
 font-weight:400;
}
#footer-outer .widget h4,#sidebar h4,#call-to-action .container a,.uppercase,.nectar-button,.nectar-button.medium,.nectar-button.small,.nectar-3d-transparent-button,body .widget_calendar table th,body #footer-outer #footer-widgets .col .widget_calendar table th,.swiper-slide .button a,body:not([data-header-format="left-header"]) header#top nav > ul > li.megamenu > ul > li > a,.carousel-heading h2,body .gform_wrapper .top_label .gfield_label,body .vc_pie_chart .wpb_pie_chart_heading,#infscr-loading div,#page-header-bg .author-section a,.woocommerce-cart .wc-proceed-to-checkout a.checkout-button,.ascend input[type="submit"],.ascend button[type="submit"],.widget h4,.text-on-hover-wrap .categories a,.text_on_hover.product .add_to_cart_button,.woocommerce-page .single_add_to_cart_button,.woocommerce div[data-project-style="text_on_hover"] .cart .quantity input.qty,.woocommerce-page #respond input#submit,.meta_overlaid article.post .post-header h2,.meta_overlaid article.post.quote .post-content h2,.meta_overlaid article.post.link .post-content h2,.meta_overlaid article.post.format-status .post-content h2,.meta_overlaid article .meta-author a,.pricing-column.highlight h3 .highlight-reason,.blog-recent[data-style="minimal"] .col > span,body .masonry.classic_enhanced .posts-container article .meta-category a,body .masonry.classic_enhanced .posts-container article.wide_tall .meta-category a,.blog-recent[data-style*="classic_enhanced"] .meta-category a,.nectar-recent-posts-slider .container .strong,#page-header-bg[data-post-hs="default_minimal"] .inner-wrap > a,.single .heading-title[data-header-style="default_minimal"] .meta-category a,.nectar-fancy-box .link-text,#post-area.standard-minimal article.post .post-meta .date a,#post-area.standard-minimal article.post .more-link span,.nectar-slide-in-cart .widget_shopping_cart .buttons a,.material.product .product-wrap .product-add-to-cart a .price .amount,.material.product .product-wrap .product-add-to-cart a span,ul.products li.material.product span.onsale,body[data-button-style="rounded"] #pagination > a,html body #pagination > span,.woocommerce nav.woocommerce-pagination ul li a,html body nav.woocommerce-pagination ul li a,html body nav.woocommerce-pagination ul li span,.woocommerce .material.product .product-wrap .product-add-to-cart a.added_to_cart,.woocommerce-page ul.products li.product.material .price,.woocommerce-page ul.products li.product.material .price ins span,body[data-form-submit="see-through-2"] input[type=submit],body[data-form-submit="see-through-2"] button[type=submit],body[data-form-submit="see-through"] input[type=submit],body[data-form-submit="see-through"] button[type=submit],body[data-form-submit="regular"] input[type=submit] body[data-form-submit="regular"] button[type=submit],.nectar_team_member_overlay .team_member_details .title,body:not([data-header-format="left-header"]) header#top nav > ul > li.megamenu > ul > li > ul > li.has-ul > a,.nectar_fullscreen_zoom_recent_projects .project-slide .project-info .normal-container > a,.nectar-hor-list-item .nectar-list-item-btn {
 font-family:Open Sans;
 text-transform:uppercase!important;
 letter-spacing:1px;
 font-size:12px;
 font-weight:700;
}
.team-member h4,.row .col.section-title p,.row .col.section-title span,#page-header-bg .subheader,.nectar-milestone .subject,.testimonial_slider blockquote span {
}
article.post .post-meta .month {
 line-height:-6px!important;
} */
