/* GLOBAL STYLE SETTINGS */
*, *:before, *:after {
    box-sizing: border-box;
  }

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

li {
    list-style: none;
}

/* NAVBAR */
.navbar {
    width: 100%;
    margin: 0;
    padding: 18px;
}

.dropdown {
    margin: 0;
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dropdown-menu {

    background: rgba(0,0,0, 0.2);
    width: 90vw;
    margin-left: 2%;
}
.flex-left {
    height: 100%;
    flex: 3 0 0;
}

.flex-right { 
    /* flex: 1; */
}

.navbar a {
    height: 100%;
    color: #fff;
}

.navbar a:hover {
    background: rgba(0,0,0, 0.0);
    color: rgba(0,0,0, 0.2);
}

.navbar-brand {
    width: 100%;
    padding: 0px;
    font-family: 'Allura', cursive;
    font-size: 5vw;
    line-height: 100%;
}

.navbar li {

    display: inline-flex;
    height: 100%;
    /* line-height: 1.5vw; */

}

.nav-link {
    height: 100%;
    font-size: 1.5vw;
}

#contact {
    width: 100%;
    height: 60px;
    margin: 0px;
    padding: 20px 0px 50px 0px;
    bottom: 0;
    background:skyblue;
}

.header-icon {
    line-height: 5vw;
    font-size: 3vw;
    padding: 0px 3px;
}

.footer-icon {
    display: inline-flex;
    align-content: center;
    text-align: center;
    color: white;
    margin: 0px 10px 10px 10px;

}
