<!--The content below is only a placeholder and can be replaced.-->
    <header class="container-fluid">
    <!--Navigation-->
        <nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
            <div class="container">
                
                <ul class="nav nabar-nav">
                    <li class="nav-item"><a [routerLink]="['/']" class="navbar-brand">{{name}}</a></li>
                    <li class="nav-item"><a [routerLink]="['/about']" class="nav-link">About</a></li>
                    <li class="nav-item"><a [routerLink]="['/projects']" class="nav-link">Projects</a></li>
                    <li class="nav-item"><a [routerLink]="['/contact']" class="nav-link">Contact</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <router-outlet></router-outlet>



  <!--Footer-->
<footer id="contact" class="page-footer default_color scrollspy">
    <div class="container">
        <div class="row">
            <div class="center white-text">
			<h5><a class="white-text" href="mailto:sherwination&#64;gmail.com" target="_blank">sherwination&#64;gmail.com</a></h5>
			<a class="white-text" href="mailto:sherwination&#64;gmail.com">
				<i class="small fa fa-envelope-square white-text"></i>
            </a>
			<a class="white-text" href="http://github.com/sherwino" target="_blank">
				<i class="small fa fa-github-square white-text"></i>
            </a>
			<a class="white-text" href="http://fb.me/sherwination" target="_blank">
				<i class="small fa fa-facebook-square white-text"></i>
            </a>
			<a class="white-text" href="http://twitter.com/sherwination" target="_blank">
				<i class="small fa fa-twitter-square white-text"></i>
            </a>
            </div>
        </div>
    </div>
    <div class="footer-copyright default_color">
        <div class="container">
            &copy; 
            <script type="text/javascript">document.write(new Date().getFullYear());</script>
            Sherwin Garcia-Obregon
        </div>
    </div>
</footer>