.page-grid {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: 100vh 100vh;
  grid-template-columns: 100%;
  background: yellow;
}

.big-container {
  width: 100%;
  height: 100%;
  grid-row-start: 1;
  grid-column-start: 1;
  grid-column-end: 2;
  background: #021420;
}

.big-img {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  grid-column: 1;
  grid-row: 2/4;
  display: inline-grid;
  grid-template-rows: 65px 15% repeat(09, 1fr);
  grid-template-columns: 50% 50%;
  overflow: hidden;

}

.big-vid {
  min-height: 100vh;
  width: cover;
  grid-column: 1/3;
  grid-row: 1/11;
}



.big-overlay {
  grid-column: 1/3;
  grid-row: 1/12;
  background: rgba(0,0,0, 0.6);
}

.big-heading {
  color: #fff;
  grid-column: 1;
  grid-row: 2;
  text-align: center;
  /* margin-top: 40px; */
  /* font-size: 2.5vw; */
}

.big-title {

  grid-column: 1;
  grid-row: 4;
  text-align: center;
  font-size: 2vw;
}

.big-excerpt {
  grid-column: 1;
  grid-row: 3;
  text-align: center;
  padding: 0 20px;
  font-size: 1.5vw;
}

.underwater {
  background: url(https://i.imgur.com/oN7i0Yu.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
