<div class="page-grid">
<!-- Lets start with a giant image of me -->
<section class="big-container">
  <div class="big-img">
      <video class="big-vid" autoplay muted loop="true">
          <source
          src="https://i.imgur.com/513U0ok.mp4"
          type="video/mp4">
          Your browser doesn't support HTML5 video tag.
        </video>
    <div class="big-overlay"></div>
    <h1 class="big-heading">Full Stack Web Developer</h1>
    <h2 class="big-title">Sherwin Garcia-Obregon</h2>
    <p class="big-excerpt">
      MEAN stack web developer extrordinaire from South Florida.
      That doesn't like to make profile pages for himself.
      Maybe he just doesn't like a whole page dedicated to him.
      Oooooh maybe we could make the page form something else at the same time.
    </p>
  </div>

</section>
<section class='underwater'>
  <p>
    The Home Component should be a really long page.
  </p>
  
  <div *ngFor="let string of strings">
    <p> {{ string }} </p>
    <br>
  </div>

</section>

<!-- End of home component grid -->
</div>

<div>
  <app-forms></app-forms>
</div>

<div>
  <app-projects></app-projects>
</div>

<div>
  <app-contact></app-contact>
</div>
