.page-grid {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: 98vw 98vw;
  grid-template-columns: 100%;
  background: yellow;
}

.big-container {
  width: 100%;
  height: 100%;
  grid-row-start: 1;
  grid-column-start: 1;
  background: #021420;
}

.big-img {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  grid-column: 1;
  grid-row: 2/4;
  display: inline-grid;
  grid-template-rows: 62px repeat(10, 1fr);
  grid-template-columns: 50vw 50vw;
  overflow: hidden;

}

.big-vid {
  height: 100vh;
  grid-column: 1/3;
  grid-row: 1/11;
}



.big-overlay {
  grid-column: 1/3;
  grid-row: 1/12;
  background: rgba(0,0,0, 0.3);
}

.big-heading {
  color: #fff;
  grid-column: 1;
  grid-row: 2;
  text-align: center;
  /* margin-top: 40px; */
  font-size: 2.5vw;
}

.big-title {

  grid-column: 1;
  grid-row: 3;
  text-align: center;
  margin-top: -30px;
  font-size: 2vw;
}

.big-excerpt {
  grid-column: 1;
  grid-row: 3;
  text-align: center;
  padding: 0 20px;
  font-size: 1.5vw;
}
